body{
  background-color: #101E35;
  margin-top: 0.5rem;
  margin-bottom: 0;
  margin-inline: 0;
  font-family: roboto, sans-serif  ;
}

@font-face {
  font-family: 'roboto';
  src: url('/fonts/roboto-medium-webfont.woff2') format('woff2'),
       url('/fonts/roboto-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/*
Bleu foncé : #101E35
Bleu ciel : #00CCFF
Noir : #0D1015
Blanc : #FFFFFF


Media Query::
Laptop : 1440*900
Mobile : 428*926

*/


.offreLivraison{
  display: flex;
  justify-content: center;
  color: white;
  margin: 0;
  padding: 0;
  font-size: 0.6rem;
  height: 1rem;
}

/*STYLE DE LA BARRE DE NAVIGATION*/
header{
  margin-inline: 2rem;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: none;
}

nav a{
  text-decoration: none;
}

nav a:link, 
a:visited, 
a:active{
  color: white;
}

.navList{
  display: flex;
}

.navItems{
  list-style: none;
  font-size: 0.9rem;
  margin-inline: 1rem;
}

.navIcons{
  list-style: none;
  text-decoration: none;
  font-size: 0.7rem;
  margin-inline: 0.5rem;
}

.boutiqueLink:link,
.boutiqueLink:visited,
.boutiqueLink:active{
  color: #00CCFF;
}

/*STYLE POUR LA PREMIERE SECTION*/

.flagShip{
  position: relative;
}

.flagshipImage{
  position: absolute;
  opacity: 70%;
  max-width: 100%;
}

.flagshipText{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 35%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.flagshipTextElements1{
  font-weight: bold;
  font-size: 4.5rem;
  margin: 0;
  padding: 0;
}

.flagshipTextElements2{
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
}

.flagshipTextElements3{
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  border: white solid 1px;
  padding: 0.7rem;
}

.flagshipTextElements3{
  text-decoration: none;
}

.flagshipTextElements3:hover{
  background-color: white;
  color: #101E35;
  transition: all ease-in-out .3s;
}