body{
  background-color: #0D1015;
  margin-top: 0;
  margin-bottom: 0;
  margin-inline: 0;
  font-family: roboto, sans-serif  ;
}

.offreLivraison{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #101E35;
  margin: 0;
  padding: 0.9rem;
  font-size: 0.7rem;
  height: 1rem;
  text-align: center;
}

/*STYLE DE LA BARRE DE NAVIGATION*/

.navFlag a:link, 
a:visited, 
a:active{
  color: white;
}

.navList{
  display: flex;
}

.navItems{
  list-style: none;
  font-size: 0.9rem;
  margin-inline: 1rem;
}

.navIcons{
  list-style: none;
  text-decoration: none;
  font-size: 0.7rem;
  margin-inline: 0.5rem;
}

.navFlag{
  position: absolute;
  margin-top: 1rem;
  z-index: 99;
  opacity: 100%;
}

.navFlag a{
  text-decoration: none;
}

.navFlag1{
  margin-left: 2rem;
}
.navFlag2{
  left: 50%;
  transform: translateX(-50%);
}
.navFlag3{
  right: 0;
  margin-right: 2rem;
}


.boutiqueLink:link,
.boutiqueLink:visited,
.boutiqueLink:active{
  color: #00CCFF;
}

/*STYLE POUR LA PREMIERE SECTION*/

.flagShip{
  position: static;
  max-width: 100%;
}

.flagshipImage{
  position: relative;
  display: flex;
  flex-direction: column;
}

.flagshipImageImg{
  position: relative;
  opacity: 70%;
  max-width: 100%;
}

.flagshipText{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 70%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.flagshipTextElements1{
  font-weight: bold;
  font-size: 4.5rem;
  margin: 0;
  padding: 0;
}

.flagshipTextElements2{
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
}

.flagshipTextElements3{
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  border: white solid 1px;
  padding: 0.7rem;
}

.flagshipTextElements3{
  text-decoration: none;
  color: white;
}

.flagshipTextElements3:hover{
  background-color: #00CCFF;
  color: black;
  transition: all ease-in-out .2s;
}

.test{
  position: static;
}

/* Style for partners section */

.partners {
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 3rem;
  border-top: #414450 solid 3px;
  border-bottom: #414450 solid 3px;
  }
