body{
  background-color: #0D1015;
  margin-top: 0;
  margin-bottom: 0;
  margin-inline: 0;
  font-family: roboto, sans-serif  ;
}

.offreLivraison{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #101E35;
  margin: 0;
  padding: 0.9rem;
  font-size: 0.7rem;
  height: 1rem;
  text-align: center;
}

/*Navbar style*/

.navFlag a:link, 
a:visited, 
a:active{
  color: white;
}

.navList{
  display: flex;
}

.navItems{
  list-style: none;
  font-size: 0.9rem;
  margin-inline: 1rem;
}

.navIcons{
  list-style: none;
  text-decoration: none;
  font-size: 0.7rem;
  margin-inline: 0.5rem;
}

.navFlag{
  position: absolute;
  margin-top: 1rem;
  z-index: 99;
  opacity: 100%;
}

.navFlag a{
  text-decoration: none;
}

.navFlag1{
  margin-left: 2rem;
}
.navFlag2{
  left: 50%;
  transform: translateX(-50%);
}
.navFlag3{
  right: 0;
  margin-right: 2rem;
}


.boutiqueLink:link,
.boutiqueLink:visited,
.boutiqueLink:active{
  color: #00CCFF;
}

/*First section with flagship product style*/

.flagShip{
  position: static;
  max-width: 100%;
}

.flagshipImage{
  position: relative;
  display: flex;
  flex-direction: column;
}

.flagshipImageImg{
  position: relative;
  opacity: 70%;
  max-width: 100%;
}

.flagshipText{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 70%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.flagshipTextElements1{
  font-weight: bold;
  font-size: 4.5rem;
  margin: 0;
  padding: 0;
}

.flagshipTextElements2{
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
}

.flagshipTextElements3{
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  border: white solid 1px;
  padding: 0.7rem;
}

.flagshipTextElements3{
  text-decoration: none;
  color: white;
}

.flagshipTextElements3:hover{
  background-color: #00CCFF;
  color: black;
  transition: all ease-in-out .2s;
}

.test{
  position: static;
}

/* Style for partners section */

.partners {
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 3rem;
  border-top: #414450 solid 3px;
  border-bottom: #414450 solid 3px;
  }

  .partners img{
    width: auto;
    height: auto;
  }

  /*Style for the shop section*/

  .shopTitle{
    color: #00CCFF;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 100;
    margin-top: 5rem;
    margin-bottom: 0.5rem;
  }

  .LastCollectionTitle{
    color:#FFFFFF;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: bolder;
    line-height: 1;
  }

  .categoryProduct{
    color: #FFFFFF;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0;
    font-size: 0.7rem;
  }

  .categoryProduct li{
    padding-bottom: 0.2rem;
    border-bottom: #414450;
    border-bottom-width: 3px;
    border-bottom-style: solid;
  }

.Monogram{
  padding-left: 0.3rem;
  font-weight: bold;
}

.Essential{
  padding-inline: 1.5rem;
}

.ProKit{
  padding-right: 0.3rem;
}

.products-display {
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0rem 1.5rem;
  color: #FFFFFF;
}

.products-display img{
  height: 20rem;
  width: auto;
}

.products-display p {
  padding: 0;
  margin: 0;
}

.image-products-section{
  margin-top: 10rem;
  margin-bottom: 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 1rem;
}

.prokitImage{
  grid-row-start: 0;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  opacity: 80%;
}

.prokitImage img:hover{
  opacity: 100%;
  border: #00CCFF solid 5px;
}

.monogramImage{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  opacity: 80%;
}

.monogramImage img:hover{
  opacity: 100%;
  border: #00CCFF solid 5px;
}

.posterImage{
  grid-row-start: 0;
  grid-row-end: 1;
  grid-column-start: 2;
  grid-column-end: 3;
  opacity: 80%;
}
.posterImage img{
  height: 100%;
}

.posterImage img:hover{
  opacity: 100%;
  border: #00CCFF solid 4px;
}

.legendsImage{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  align-content: end;
  opacity: 80%;
}

.legendsImage img:hover{
  opacity: 100%;
  border: #00CCFF solid 5px;
}

.newsletter{
  color: #FFFFFF;
  background: linear-gradient(129deg, rgba(2,0,36,1) 7%,
                                      rgba(0,187,236,1) 31%,
                                      rgba(0,204,255,1) 64%,
                                      rgba(2,0,36,1) 91%) ;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.newsletter H2{
  margin: 0;
  padding: 0;
  font-size: 4rem;
}

.newsletter p{
  margin-bottom: 2rem;
  margin-top: 0;
  font-size: 0.7rem;
}

.newsletterInput button{
  background-color: #FFFFFF;
}